#presentations #headline{
    font-weight:bold;
    font-size: 20px;
    margin:50px;
}

#presentations .presentation{
    margin:20px;
    width: 300px;
    height: 250px;
    float:left;
}

#presentations .title{
    font-weight:bold;
    margin:20px;
}

#presentations .key_words{
    font-weight:bold;
}

#presentations .attributes{
    font-size: 12px;
}