/*Created 6/28/2022 by Jake McCann*/
/*Edited 6/29/2022 by Jake MCCann*/
#publications_grid {
  /* Grid settings */
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.publication {
  /* Box Model */
  width: 1000px;
  padding-bottom: 50px;
}

#all_publications {
  /* Grid settings */
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
}

.publication_nav {
  /* Grid settings */
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;

  /* Box model*/
  padding-top: 20px;
  width: 150px;
}

.publication_nav_elem{
  /* Box Model */
  padding-bottom: 10px;
}