body {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: gray;
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}

#nav_div{
  background-color: red;
  width : 100%
}
#Nav_List {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}
.nav_item{
  float: left;
}
.nav_item a{
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: xx-large;
  margin-right: 10px;
}
.nav_item a:hover{
  color: red;
  background-color: #333333;
}
#logo{
  height: 50px;
  display: inline;
  align-content: center;
  float: right;
}

#about_me {
  background-color: rgba(165, 165, 165, 0.89);
}

#about_me .heading {
  font-family: "Times New Roman", Times, serif;
}

#about_me p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.1em; /* Increase size for readibility */
}

/* unvisited link */
#about_me a:link {
  color: #ff000094
}

/* visited link */
#about_me a:visited {
  color: rgba(63, 63, 63, 0.89);
}

/* mouse over link */
#about_me a:hover {
  color: #0026ffda;
}