<!-- Created 6/25/2022 by Noah Moon-->
<!-- Edited 6/28/2022 by Noah Moon-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <!-- <%= stylesheet_link_tag "site" %> <link href="/stylesheets/site.css" rel="stylesheet" />-->
    <link href="./stylesheets/site.css" rel="stylesheet" />
    <link href="./stylesheets/publications.css" rel="stylesheet" />
  </head>
  <body>
    <%= partial "navbar" %>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
<!-- use yaml -->