<div id="publication_nav">
  <a href="#conference_publications">Conference Papers</a>
  <a href="#workshop_publications">Workshop Papers</a>
  <a href="#tech_publications">Technical Reports</a>
  <a href="#theses_publications">Thesis Papers</a>
</div>