<!-- Created 6/27/2022 by Jake McCann-->
<!-- Edited 6/29/2022 by Jake McCann -->
<div class="publication_nav">
  <div class="publication_nav_elem">
    <a href="#conference_publications">Conference Papers</a>
  </div>
  <div class="publication_nav_elem">
    <a href="#workshop_publications">Workshop Papers</a>
  </div>
  <div class="publication_nav_elem">
  <a href="#tech_publications">Technical Reports</a>
  </div>
  <div class="publication_nav_elem">
    <a href="#theses_publications">Thesis Papers</a>
  </div>
</div>