<div id="about_me">
  <br />
  <img src="images/professor.jpg" alt="Missing professor image">
  <h1 class="heading">
    About me
  </h1>
  <p>
    I am a Professor in the <a href="http://www.cse.ohio-state.edu/" target="external">Department of Computer Science and Engineering</a> at 
    <a href="http://www.osu.edu/" target="external">Ohio State University</a>. I lead the<strong> </strong><strong>
      <a href="http://www.cse.ohio-state.edu/~teodores/arch/index.html" target="self" title="Research">Architecture Research Lab</a>
    </strong>. Our research interests include computer architecture, energy efficient computing, security and reliability. <br />
    <br />
    I received my Ph.D. from the <a href="http://www.cs.uiuc.edu" target="self">Department of Computer Science</a>, 
    <a href="http://www.uiuc.edu" target="self">University of Illinois at Urbana-Champaign</a> where I was a member of the 
    <a href="http://iacoma.cs.uiuc.edu" target="self">IACOMA</a> group working with <a href="http://iacoma.cs.uiuc.edu/josep/torrellas.html" target="self">Prof. Josep Torrellas</a>
    . I was the recipient of the Ohio State CSE Department Teaching Award in 2021, the <a href="https://awards.webapps.engineering.osu.edu/awards/13" target="self">Lumley Award</a>
    in 2014, an <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1253933&HistoricalAwards=false" target="self">NSF CAREER award</a> in 2012, 
    <a href="https://www.intel.com/content/www/us/en/education/university/intel-phd-fellowship-program.html" target="self">Intel Foundation Fellowship</a>
    for 2007-2008 and the <a href="https://cs.illinois.edu/about/awards/graduate-fellowships-awards/w-j-poppelbaum-memorial-award" target="self">W. J. Poppelbaum Award</a> for 2008. <br />
    We were proud to help organize<a href="https://www.microarch.org/micro52/" target="self"> MICRO-52 in Columbus, Ohio</a> in October 2019.
    <br />
    <br />
    I am looking for bright and motivated students to join my research group. For more details and research updates please visit 
    <a href="http://arch.cse.ohio-state.edu" target="self">my group&rsquo;s website</a>. If you are interested in working with us send me an email or drop by my office.
    <br />
    <br />
    I was born in <a href="http://en.wikipedia.org/wiki/Cluj-Napoca" target="self">Cluj-Napoca</a>, in the beautiful province of Transilvania in Romania.
    I received an Engineer Diploma from the 
    <a href="http://www.utcluj.ro/" target="self">Technical University of Cluj-Napoca</a> in 2002.
    <br />
  </p>
</div>
<div id="teaching">
  <br />
  <h2 class="heading">
    Currently Teaching
  </h2>
  <p>
    <a href="http://coe-portal.cse.ohio-state.edu/pdf-exports/CSE/CSE-6421.pdf" target="self">CSE6421</a> and 
    <a href="http://coe-portal.cse.ohio-state.edu/pdf-exports/CSE/CSE-3421.pdf" target="self">CSE3421</a>
  </p>
</div>
<div id="contact">
  <br />
  <h2 class="heading">
    Contact
  </h2>
  <h3 class="subheading">
    Email
  </h3>
  <p>
    teodorescu.1@osu.edu
  </p>
  <h3 class="subheading">
    Office
  </h3>
  <p>
    797 Dreese Labs<br>
    2015 Neil Ave.<br>
    Columbus, OH, 43210
  </p>
</div>
