<!-- Created by Hao 6/26/2022 -->
<!-- Edited by Jake McCann 6/29/2022 -->

<%= current_page.data.title = "Presentations"; print "" %>
<div id="presentations">
    <div id="headline">Presentations, demos</div>

    <div id="contents">

        <div class="presentation">
            <div class="title"><span class="key_words">Architectures for Energy Efficient Computing at Ultra-low
                    Voltages</span></div>
            <div class="attributes">
                CALCM Seminar at Carnegie Mellon University, April 2010
            </div>

        </div>

        <div class="presentation">
            <div class="title">
                My job talk, <a class="key_words"
                    href="https://web.cse.ohio-state.edu/~teodorescu.1/download/slides/job-talk-teodorescu.pdf">Helping
                    Moore&rsquo;s Law: Architectural Techniques to Address Parameter Variation</a>
            </div>
            <div class="attributes">
                Given in 2008 at George Washington University ECE, Drexel University ECE, Texas A&M ECE, University of
                Arizona CS, Ohio State CSE and Microsoft Research.
            </div>
        </div>

        <div class="presentation">
            <div class="title">
                <a class="key_words"
                    href="https://web.cse.ohio-state.edu/~teodorescu.1/download/slides/radu-isca08-slides.pdf">Variation-Aware
                    Application Scheduling and Power Management for Chip Multiprocessors</a>
            </div>
            <div class="attributes">
                35th International Symposium on Computer Architecture (ISCA), June 2008
            </div>
        </div>

        <div class="presentation">
            <div class="title">
                <a class="key_words"
                    href="https://web.cse.ohio-state.edu/~teodorescu.1/download/slides/radu-micro-slides.pdf">Mitigating
                    Parameter Variation with Dynamic Fine-Grain Body Bias</a>
            </div>
            <div class="attributes">
                International Symposium on Microarchitecture, Chicago, December 2007
            </div>
        </div>

        <div class="presentation">
            <div class="title">
                <a class="key_words"
                    href="https://web.cse.ohio-state.edu/~teodorescu.1/download/slides/dfgbb-intel-forum.pdf">Mitigating
                    Parameter Variation with Dynamic Fine-Grain Body Bias</a>
            </div>
            <div class="attributes">
                Intel PhD Fellowship Forum, Hillsboro, Oregon, October 2007
            </div>
        </div>

        <div class="presentation">
            <div class="title">
                <a class="key_words"
                    href="https://web.cse.ohio-state.edu/~teodorescu.1/download/slides/teodorescu-slides-BUGS05.pdf">Empowering
                    Software Debugging Through Architectural Support for Program Rollback</a>
            </div>
            <div class="attributes">
                Workshop on the Evaluation of Software Defect Detection Tools, in conjunction with PLDI 2005, workshop
                presentation and demo, Chicago, June 2005
            </div>
        </div>


        <div class="presentation">
            <div class="title">
                <a class="key_words"
                    href="https://web.cse.ohio-state.edu/~teodorescu.1/download/slides/teodorescu-slides-WCED05.pdf">The
                    Design Complexity of Program Undo Support in a General-Purpose Processor</a>
            </div>
            <div class="attributes">
                Workshop on Complexity-Effective Design, in conjunction with ISCA 2005, workshop presentation, Madison,
                Wisconsin, June 2005
            </div>
        </div>

        <div class="presentation">
            <div class="title">
                <span class="key_words">Prototyping Architectural Support for Program Rollback Using FPGAs</span>
            </div>
            <div class="attributes">
                Illinois Department of Computer Science Affiliates Conference (IDCSA), demo, Urbana, Illinois, April
                2005
            </div>
        </div>

        <div class="presentation">
            <div class="title">
                <a class="key_words"
                    href="https://web.cse.ohio-state.edu/~teodorescu.1/download/slides/teodorescu-slides-FCCM05.pdf">Prototyping
                    Architectural Support for Program Rollback Using FPGAs</a>
            </div>
            <div class="attributes">
                IEEE Symposium on Field-Programmable Custom Computing Machines, conference presentation, Napa,
                California, April 2005
            </div>
        </div>

        <div class="presentation">
            <div class="title">
                <a class="key_words"
                    href="https://web.cse.ohio-state.edu/~teodorescu.1/download/slides/teodorescu-slides-WARFP05.pdf">Prototyping
                    Architectural Support for Program Rollback: An Application to Software Debugging</a>
            </div>
            <div class="attributes">
                Workshop on Architecture Research Using FPGA Platforms, in conjunction with HPCA-11, workshop
                presentation, San Francisco, February 2005
            </div>
        </div>

        <div class="presentation">
            <div class="title">
                <a class="key_words"
                    href="https://web.cse.ohio-state.edu/~teodorescu.1/download/slides/teodorescu-poster.pdf">Building a
                    Hardware Prototype for Thread Level Speculation using Programmable Logic</a>
            </div>
            <div class="attributes">
                Siebel Center Open House, poster and demo, Urbana, Illinois, May 2004
            </div>
        </div>

        <div class="presentation">
            <div class="title">
                <span class="key_words">Integrated Medical Imaging Environment</span>
            </div>
            <div class="attributes">
                IEEE-TTTC International Conference on Automation, Quality and Testing, conference presentation,
                Cluj-Napoca, Romania, May 2002
            </div>
        </div>

    </div>

</div>
